<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="data source=.; database=TESIS; integrated security=SSPI" />
  </connectionStrings>
  <appSettings>
    <add key="POSG_ConnectionString" value="data source=.;initial catalog=TESIS;integrated security=SSPI;" />
    <!--
      <add key="POSG_ConnectionString" value="workstation id=172.16.34.57;packet size=8096;user id=sa;data source=172.16.34.57;persist security info=True;initial catalog=TESIS; password=Hardcorerapz13_93"/>
      -->
  </appSettings>
  <system.web>

    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

      <httpRuntime targetFramework="4.5.2" />

  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

</configuration>
